
#criandoTopico{

    display: none;

}

#tituloFormulario h1, h2{

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
 
    
    text-align: center;

}


#criandoTopico{    
    align-items: center;
    width: 100%;   
}

 .fassunto {

    height: 39px;
}

.fconteudo{
    height: 113px;
    margin-bottom: -20px;

}
.tform{

font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 19px;




color: #ED7839;
}

.fAssunto{

width: 100%;
background: #FFFFFF;
border: 1px solid #CCCCCC;
border-radius: 3px;


}


.fbotao {

background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
border-radius: 0px 0px 4px 0px;
border: none;
width:21.4%;
margin-right: -2px;
height: 31px;
font-size: 15px;

color: white;

}

#fenviar{
    display: flex;

}

#fenviar section{

    background: #EAF1F2;
    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 4px 4px;
    
    
    margin-right:-4px ;

    width: 84%;
}

#fenviar section img{
    text-align: center;
   
    padding: 9px 12px 0px 25px;

}


#tituloformenv{

    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
text-align: center;

color: #ED7839;
}