@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');



*{

    padding: 0px;
    margin: 0px;

    font-family: 'Roboto'; 
    font-weight: 400;   

   
}

a{
    text-decoration: none;
}

/* CONTAÍNER PRINCIPAL CENTRO */
#principal{

    margin-left: 220px;
    
    }
/* CONTAÍNER PRINCIPAL DO CENTRO*/


 /*---------------- INÍCIO DO TÍTULO PRINCIPAL DO HEADER ---------------- */



header{

      
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    min-width: 700px;
    
    padding: 4px 0px 2px 36px;
    background: #FDF1EB;   

    font-size: 14px;
    line-height: 16px;
    color: #725C5C;
}

header h1{
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
    margin-bottom: -2px;
}

 /*---------------- FIM DO TÍTULO PRINCIPAL DO HEADER ---------------- */
 /*---------------- INÍCIO DO HEADER LATERAL ---------------- */
#headerLateral {
    display: flex;
    flex-direction: row;
    margin: 14px 36px 14px 0px;
}


#idioma{    
    padding: 6px 10px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
}

#headerLateral select { 
 
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(midias/baixo.png) no-repeat  center right  transparent;
    background-size: 7px 5px;
    background-position-y: 60%;
/* PARA MUDAR A SETA DO SELECT ^^^^^^ */
     
    font-size: 14px;
    padding-right: 10px;
    padding-top: 5px; 
    font-weight: 300;
    border: none;
}


/*---- INÍCIO LOGIN USUÁRIO ---- */
#infoUsuario{

        margin-left: 25px;
        font-size: 12px; 
        font-family: 'Quicksand';
        font-weight: 300;
        display: flex; 
        flex-direction: row ; 


}

#infoUsuario p {

    font-family: "Quicksand";
    text-align: right;
    font-weight: 400;
    font-size:14px;
}


#login figure{
    display: flex;
    flex-direction: row-reverse ; 
    margin-left: 38px;
 
}

#notificacao{ 
    background-color: #F85959;
    width: 12px;
    height: 12px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    padding: 0px 1px 2px 0px;
    margin-top: -5px;
    color: white;
 
}

#login figure img, #notificacao{    
    position: absolute;
    border-radius: 100%;

}

/*---- FIM LOGIN USUÁRIO ---- */
/*---------------- FIM DO HEADER LATERAL ---------------- */

/*----------------------- INÍCIO DO MENÚ LATERAL FIXO -------------------------*/

#slaca{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: white;
    z-index: -1;

    
    height: 70px;
    background: url(midias/Rectangle-239.png);

}

#slaca h2{

padding-top: 19px;
padding-right: 2px;      /* -----> OPCIONAL, É SO PRA DEIXAR BEM IGUALZINHO O NOME SLACA */
font-weight: 700;

}

aside{
    position: fixed;

    
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0px #00000040;



    height: 100%;
    width: 220px;


} 

aside img{

    margin-top: -2px;
    margin-bottom: -2px;
    

}

nav ul{
    /* font-family: 'Quicksand'; */
    font-size: 16px;
    line-height: 18.75px;

    width: 220px;
    list-style-type: none;
}


nav li{

border-bottom: 2px solid #E7E7E7;
padding: 7px 0px 7px 24px;
text-align: left;

/* padding-top: 7px; */
height: 19px;
}

nav a {
   
    color: #725C5C;
    display: block;
}

nav a:hover{

    background: url(midias/Rectangle-239.png) left no-repeat #FDF1EB;
    background-size: 7px 100%;
    padding-left: 6px;
}

/*----------------------- FIM DO MENÚ LATERAL FIXO -------------------------*/





#trabPrincipal{
display: flex;






width: 100%;
height: 100%;
color: black;

}

#tituloVideo {

    width: 786px;
    margin-left:43px;
    margin-right: 46px;
    margin-top: 20px;

  

}

#tituloVideo h1{

   font-weight: 900;
   font-size: 20px;
   line-height: 25px;
   
    
   letter-spacing: 0.05em;

    color: #ED7839;

}























.textoVideo {
    position: absolute;
    display: flex;
    flex-direction: column;
   
    width: 734px;
    height: 54px;
    font-weight: 900;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0.05em;

    color: #FFFFFF;

    margin: 35px 17px 0px 32px;
    
    
    
    
  }

.nomePessoa{

    margin: 320px 199px 92px 134px;
    font-size: 34px; 
   

}




  #video{
    position: relative;
    margin-top: 19px;
    z-index: -1;
}





#imgVideo{

position:absolute;
top: 301px;
left: 31px;
bottom: 52px;

border: 1px solid #ED7839;

padding: 3px;


}





#asideInterno{
display: flex;
flex-direction: column;
align-items:flex-start;


/* width: 242px; */
margin-top: 18px;

margin-left: 10px;





}

#botoes{
    display: flex;
    flex-direction: row;
    align-items: center;


}

.botao{

    background: #ED7839;

    color: white;
    margin: 0px 3px;
    border-radius: 4px;

    padding: 6px 12px;
    padding-bottom: 4px;

    font-weight: 500;
   
}
.btn1{
   padding-bottom: 6px;
}

#comocitar{

    font-family: 'Roboto';
    font-weight: 500;
    letter-spacing: 0.05em;
    font-size: 14px;
    
    margin-top: 12px;
    color: #ED7839;
}


#detalhes{
    font-family: 'Quicksand';
    font-style: normal;
    
    font-size: 12px;
    line-height: 120%;
    
    letter-spacing: 0.02em;
    
    color: #5C5C5C;

    margin-left: -28px;

    border: 1px solid  #ECECEC; 
    border-radius: 3px;

    width: 248px;
    margin-top: 10px;

  
    
}

.tituloDetalhes{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;

   
    width: 88%;

    background: #FDF1EB;
    border-radius: 3px 3px 0px 0px;


    
    padding: 11px 15px 9px 15px;
   

}

#infoDetalhes{
    overflow-y:scroll;
    height:364px;
    padding: 15px;


    

}

/* CONFIGURAÇÃO DA SCROLLBAR */
#infoDetalhes::-webkit-scrollbar {
 width: 3px;     
}
      
#infoDetalhes::-webkit-scrollbar-track {
     background: #E7E7E7;
}
      
#infoDetalhes::-webkit-scrollbar-thumb {
    background-color: blue;    
    border-radius: 5px;             
    border: 3px solid #BFBFBF;;  
}

/* CONFIGURAÇÃO DA SCROLLBAR */


#infoDetalhes p {

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    padding: 3px 0px;
}

#infoDetalhes strong{

    font-weight: 500;
}

#autores{
margin: 15px 0px 30px 0px;   

}

#autores p{
    font-size:14px;
    line-height: 110%;
}

#locais p{

    color:#898989;
    font-size: 11px;
    padding: 2px 0px;
    letter-spacing: 0.01em;
  
}


#resDiscussoes{
display: flex;
flex-direction: column;

width: 100%;    
}
.resTop{
   
    width: 100%;
    height: 45px;


    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
}

.resumo{
    width: 66.4em;
    margin-left:43px;
    border: 1px solid #ECECEC;

    margin-left:43px;
    margin-right: 46px;
    margin-top: 20px;

    margin: 20px 46px 30px 43px;

    height: 100%;
    

}
.resumo p{
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.01em;

    padding: 15px;
    color: #5C5C5C;
}

.resumo a {
    color: #ED7839;
    font-weight: 500;

}


.discussoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;

}

#spc1 h1{
    font-weight: 600;
    font-size: 18px;
    padding-top:15px ;
    padding-bottom:27px ;

    color: #ED7839;
}

#spc2 img{
margin: 0px 31px;
cursor: pointer;
}

#spc3 {
    width: 95%;
    text-align: center;
    padding-bottom: 14px;
    border-bottom: 1px solid #E7E7E7;
}
#spc3 p{
    width: 69%;
   margin-left: 10em;
}


#novoTopico{
    display: flex;
    flex-direction: row;
    
    color: white;
    padding: 6px 14px;
    margin-top: -15px;

    background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 4px;

    cursor: pointer;

}


.novoAssunto{


padding-top: 1.3em;;
padding-left: 1.5em;
padding-bottom: 1em;
margin: 15px;

background: #FFFFFF;
border: 1px solid #E7E7E7;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
border-radius: 4px;

}

.novoAssunto h2{
    font-family: 'Quicksand';
    font-weight: 900;
    font-size: 16px;
    
    
    
    
    color: #ED7839;

}

.novoAssunto .nomeAutor{

    font-family: 'Quicksand';

    font-weight: 600;
    font-size: 12px;
    
    color: #5C5C5C;
}


.novoAssunto p{


font-weight: 400;
font-size: 14px;
line-height: 18px;

padding: 10px 0px;

color: #4D4D4D;
}

#interacoes{
display: flex;

}

#interacoes p{

    padding: 0px 15px;
}

#pontos img{
    display: flex;
    flex-direction: column;
    margin: 3px 0px;
    cursor: pointer;
}

#like{
    text-align: center;
    padding-top: 3px;
    margin-left: 1em;
    background: url(midias/button.png) no-repeat;
    background-size: auto;

    height: 19px;
    width: 27px;
   
    border-radius: 2px;

}

footer{

    margin-left:43px;
    margin-right: 46px;
    margin-top: 20px;

}


